
.DS_Store
wp-content/uploads/**
wp-content/themes/fictional-university-theme/node_modules
wp-content/ai1wm-backups
vendor
.env
wp-content/plugins/quiz-are-you-paying-attention/node_modules
wp-content/plugins/featured-professor/node_modules
wp-content/themes/fictional-university-block-theme/node_modules