.form-filter-post{
    display: flex;
    justify-content: space-between;
    font-size: 1.10rem;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 20px;
}